body {
    background: #121212;
}

#movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    color: white;
    width: 60%;
    margin: 2rem auto;
}

.movie-card img {
    width: 100%;
}

.movie-card {
    background: #1a1a1a;
    border-radius: 10px;
}

.movie-card h1 {
    padding-left: 10px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: lighter;
}

.movie-card p {
    padding-left: 10px;
    font-family:Arial, Helvetica, sans-serif;
    color: lightgray;
    
}

#search-bar {
    margin-left: 20vw;
    display: flex;
    align-items: center;
    
}

#search-bar h1 {
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #f4c518;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    
}
    
#search-bar input {
margin-left: 20px;
height: 30px;
width: 700px;
border-radius: 5px;
}

#category-title {
    display: inline-block;
    margin-left: 20vw;
    color: #f4c518;
    font-family:Arial, Helvetica, sans-serif;
}

#category-favourite {
    margin-left: 30vw;
    color: #f4c518;
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
}

#footer {
    display: flex;
    justify-content: center;
}

#footer img{
    width: 100px;
}

#footer p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    color: darkgray;
}

a:link, a:visited, a:hover,a:active  {
    color: #f4c518;
    text-decoration: none;
}

a p {
    text-decoration: none;
}

a h1 {
    color: white;
    text-decoration: none;
}

datalist {
    position: absolute;
    max-height: 20em;
    border: 0 none;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
datalist option {
    font-size: 0.8em;
    padding: 0.3em 1em;
    background-color: #ccc;
    cursor: pointer;
  }
  
  /* option active styles */
datalist option:hover, datalist option:focus {
    color: #fff;
    background-color: #036;
    outline: 0 none;
  }